[package]
name = "init"
version = "0.1.0"
edition = "2021"

[dependencies]
# No dependencies for minimal init yet
# Later we will add a trivial libc or sys crate

[profile.release]
panic = "abort"
lto = true

[workspace]

